

<div class="row" style="text-align:center">
  <div class="col-sm-4" style="margin:40px">
    <h4  style="color:grey; font-size: 30px">Movement Controls</h4>
    <div style="text-align:center; margin: 20px">
      <button class="btn btn-primary" (click) = "updateDatabase(0)" >up</button>
    </div>

    <div class="row">
      <div class="col-6 col-xs-6 col-sm-6 col-md-6" >
        <button  class="btn btn-primary" (click) = "updateDatabase(1)" >left</button>
      </div>

      <div class="col-6 col-xs-6 col-sm-6 col-md-6">
        <button  class="btn btn-primary" (click) = "updateDatabase(2)">right</button>
      </div>

    </div>

    <div style="text-align:center; margin: 20px">
      <button  class="btn btn-primary" (click) = "updateDatabase(3)">
        down
      </button></div>
  </div>
  
  <div class="col-sm-4">
   <h4> </h4>
    <button class="btn btn-danger" (click)="connectBluetooth()">connect</button>
  </div>
  <div class="col-sm-4"></div>

</div>